<form [formGroup]="cardForm">
    <input type="text" formControlName="name">
    <div *ngIf="cardForm.get('name')?.errors?.['required']">
        *Zorunlu Alan
    </div>
    <div *ngIf="cardForm.get('name')?.errors?.['minlength']">
        {{cardForm.get('name')?.errors?.['minlength']?.['actualLength']}} karakter içermektedir, fakat minimum {{cardForm.get('name')?.errors?.['minlength']?.['requiredLength']}} karakter olmalıdır
    </div>
</form>

<div>Form içeriği: {{cardForm.value | json}}</div>
<div>Form içeriği: {{cardForm.valid ? "evet":"hayır"}}</div>
<div>Form hataları: {{cardForm.get('name')?.errors | json}}</div>